/* ============ */
/* Modal Window */
/* ============ */

/* Backdrop + modal */
/* вихідний стан елемента (A) */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    pointer-events: initial;
    visibility: visible;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* зміна стану backdrop (B) */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* transform: translate(-50%, -50%); */

    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn .btn-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 18px;
}

.modal-btn .btn-close:hover,
.modal-btn .btn-close:focus {
    fill: var(--accent-color);
}

/* Modal Form */

.modal__form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    text-align: center;

    margin-bottom: 12px;

    color: #212121;
}

.modal__form-details {
    margin-bottom: 20px;
}

.modal__form_field {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 10px;
}

.modal__form-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: var(--primery-text-color);
}

.modal__form-input {
    height: 40px;

    padding: 11px 42px;

    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover,
.modal__form-input:focus {
    border: 1px solid var(--accent-color);
}

.form-input_icon {
    position: absolute;

    left: 12px;
    bottom: 11px;

    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover+.form-input_icon,
.modal__form-input:focus+.form-input_icon {
    fill: var(--accent-color);
}

.form-input_comment {
    height: 120px;

    resize: none;

    padding: 12px 16px;

    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input_comment:hover,
.form-input_comment:focus,
.form-input_comment:checked {
    border: 1px solid var(--accent-color);
}

.form-input_comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.form-input_agree {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-label_agree {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
}

.label__agree-icon {
    width: 16px;
    height: 15px;

    margin-right: 7px;

    background-color: transparent;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input_agree:checked+.label__agree-icon {
    border: none;
    background-color: var(--accent-color);
}

.agree-accent {
    margin-left: 4px;

    text-decoration: underline;

    color: var(--accent-color);
}

.modal__form-btn {
    display: block;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    border: none;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #188ce8;
}